.products{
    /* display: flex;
    margin-top: 10px;
    
    justify-content: center */
      
}

.Card{
    width:35vh;

}

.products h2{
    /* margin: 5px 40vw 5px 50vw ; */
    font-size: 50px;
    display:flex;
    justify-content: center;

}

.products Container {
    /* display:flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
    align-content: center; */
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
     gap: 20px; 
     justify-content: center;
}

/* .products Container div{
    display:grid;
    grid-template-columns: 40vw;
    grid-template-rows: 20vw;
    justify-content: center;
    align-content: center;
    margin: 10px;
} */